/** GENERAL ****************************/
html {
}

body, .header, .site-main-menu, .main {
  background: $beige;
}

#global-header a, #global-footer a {
  font-size: 14px !important;
}

/** REGIONS ****************************/
.row-fluid {
  margin-bottom: 30px;
}
.header {
  padding: 35px 0 40px;
}
.main {
  background: transparent;
  min-height: 871px;
  @media (max-width: 767px) {
    padding-top: 20px;
  }
}
#wrap {
  background-image: url('../img/caw-bkg.png');
  background-repeat: repeat-x;
  background-position: center 105%;
}
.main-lower {
  margin-top: 80px;
}

/** LOGO ****************************/

#header #logo {
  border-right: 2px solid $black;
  img {
    max-width: 220px;
  }
  @media (max-width: 480px) {
    border-right: 0;
    margin-bottom: 30px;
  }
}
.header .site-logo img {
  max-height: 86px;
}

/* site titles */
#site-title-first-line a,
#site-title-first-line a:hover,
#site-title-first-line a:focus,
#site-title-second-line a,
#site-title-second-line a:hover,
#site-title-second-line a:focus {
  color: $black;
  font-size: 37px;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1.2em;
}
#site-title-second-line {
  margin-bottom: -8px;
}
@media (max-width: 480px) {
  #site-title-first-line,
  #site-title-second-line {
    margin-right: 0.25em;
    display: inline;
  }
}
@media (max-width: 320px) {
  #header #logo img,
  #header #logo.logo-mobile img {
    max-width: 100%;
  }
}

/** SEARCH ****************************/

.nav-search {
  max-width: 165px;
}
.nav-search input[type="text"] {
  border-color: transparent;
  padding: .5em 30px .5em 1em;
  height: 35px;
  @include box-shadow(inset 0 0 7px rgba(0,0,0,0.2));
  @include border-radius(6px);
  @include box-sizing(border-box);
}
.nav-search input.form-submit {
  background: transparent;
  border: 0 none;
  height: 26px;
  width: 26px;
  font-size: 0;
  color: transparent;
  background-image: url('../img/searchbutton.png');
  opacity: .3;
  position: relative;
  float: right;
  margin-top: -31px;
  left: -8px;
}
.nav-search input.form-submit:hover,
.nav-search input.form-submit:focus {
  opacity: .8;
}

/** NAVBAR MENU ****************************/

.navbar {
  margin-bottom: 0;
}
.navbar .nav > li > a {
  color: $black;
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.3em;
  background:transparent;
  padding: 4px 12px;
  border-radius: 4px;
  margin-right: 12px;
  @media (max-width: 767px) {
    margin-right: 0;
  }
}
.dropdown-menu {
	background: $gray-dark;
	color: $white;
	min-width: 190px;
	padding-bottom: 0.5em;
  padding-top: 0.5em;
  margin-top: -4px;
  @include border-radius(0px 3px 3px 3px);
  @include  box-shadow(3px 3px 10px rgba(0, 0, 0, 0.3));
}
.nav-collapse .dropdown-menu a {
	color: $white;
	font-size: 0.95em;
  letter-spacing: 0.02em;
}
.dropdown-menu > li > a {
	padding: 6px 20px;
}
.nolink {
	font-size: .65em;
	padding: 10px 20px 3px;
	display: block;
	letter-spacing: 0.05em;
}
.nav-collapse .dropdown-menu > li > a:hover,
.nav-collapse .dropdown-menu > li > a:focus,
.nav-collapse .dropdown-menu > .active > a,
.nav-collapse .dropdown-menu > .active > a:hover,
.nav-collapse .dropdown-menu > .active > a:focus,
.nav-collapse .dropdown-menu > .active-trail > a,
.nav-collapse .dropdown-menu > .active-trail > a:hover,
.nav-collapse .dropdown-menu > .active-trail > a:focus,
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle
.navbar .nav li.dropdown.open > .dropdown-toggle:hover,
.navbar .nav li.dropdown.open > .dropdown-toggle:focus,
.navbar .nav li.dropdown.active > .dropdown-toggle:hover,
.navbar .nav li.dropdown.active > .dropdown-toggle:focus,
.navbar .nav li.dropdown.open.active > .dropdown-toggle:hover,
.navbar .nav li.dropdown.open.active > .dropdown-toggle:focus,
.navbar .nav li.active-trail.dropdown > .dropdown-toggle,
.navbar .nav li.active-trail.dropdown > .dropdown-toggle:hover,
.navbar .nav li.active-trail.dropdown > .dropdown-toggle:focus {
	color: $white;
	background: $gray-med1;
}
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle:hover,
.navbar .nav li.dropdown.active > .dropdown-toggle:focus,
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.open > .dropdown-toggle.active,
.navbar .nav li.dropdown.open > .dropdown-toggle.active:focus,
.navbar .nav li.dropdown.open > .dropdown-toggle:hover,
.navbar .nav li.dropdown.open > .dropdown-toggle:focus,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
	@include box-shadow($gray-med3 2px 2px 8px);
  background: $gray-dark;
}
.dropdown .caret {
	display: none;
}
.dropdown hr,
.sidebar .block-menu-block hr {
	margin: 6px 0;
	border-color: $gray-med1;
	border-top: 0px;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover,
.navbar .nav li.active-trail > a,
.navbar .nav li.active-trail > a:hover,
.navbar .nav li.active-trail > a:focus  {
  color: $black;
  background: $gray-light2;
}
.navbar .nav li.dropdown li.active-trail > a,
.navbar .nav li.dropdown li.active-trail > a:hover {
  color: $white;
  background: $gray-med1;
}

@media (max-width: 767px) {
  .nav-collapse .dropdown-menu {
    margin: 0;
  }
  .navbar .nav li.dropdown.active > .dropdown-toggle,
  .navbar .nav li.dropdown.active > .dropdown-toggle:hover,
  .navbar .nav li.dropdown.active > .dropdown-toggle:focus,
  .navbar .nav li.dropdown.open > .dropdown-toggle,
  .navbar .nav li.dropdown.open > .dropdown-toggle.active,
  .navbar .nav li.dropdown.open > .dropdown-toggle.active:focus,
  .navbar .nav li.dropdown.open > .dropdown-toggle:hover,
  .navbar .nav li.dropdown.open > .dropdown-toggle:focus,
  .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    @include box-shadow(none);
  }
  .navbar .nav li.dropdown.open {
    background: $gray-dark;
    @include border-radius(4px);
  }
  .nav-collapse .dropdown-menu a {
    padding: 6px 20px;
  }
  .nav-collapse .dropdown-menu a:hover,
  .nav-collapse .dropdown-menu a:focus {
    background: $gray-med1;
    color: $white;
  }
  .nav-collapse .dropdown-menu li+li a {
    margin-bottom: 0px;
  }
}

/* Turquoise button in navbar styles */
#block-bean-my-benefits-button,
#block-bean-search-jobs-button {
  position: absolute;
  right: 0;
  top: -6px;
  @media (max-width: 767px) {
    position: inherit;
    right: auto;
    top: auto;
  }
}
#main-nav {
	a.btn {
    background: $turq-dark;
    @include box-shadow($gray-med3 2px 2px 8px);
  }
  a.btn:hover, a.btn:focus {
    background: $black;
    @include box-shadow($gray-med3 4px 4px 8px);
  }
  a.btn, a.btn:hover, a.btn:focus {
    background-image: url('../img/caw-btn-arrow-right.png');
    background-repeat: no-repeat;
    background-position: 93% center;
    background-position: calc(100% - 10px) center;
    padding: 0.4em 30px 0.5em 1em;
    text-align: left;
	}
}

#block-menu-block-7,
#block-menu-block-1 {
  max-width: 80%;
  div.contextual-links-wrapper {
    right: 20%;
  }
  @media (max-width: 767px) {
    max-width: none;
    div.contextual-links-wrapper {
      right: 5px;
    }
  }
}

/* subsite resources menus */
.region-navigation .block.menu-resources {
  position: absolute;
  right: 165px;
  top: -84px;
  @media (max-width: 767px) {
    right: auto;
    top: auto;
    position: inherit;
  }
}
.navbar .block.menu-resources .nav > li > a {
  font-size: 1em;
  padding: 0;
  color: $gray-med1;
  font-weight: 600;
  @media (max-width: 767px) {
    font-size: 1.3em;
    padding: 4px 12px;
    color: $black;
    font-weight: 400;
  }
}
.navbar .block.menu-resources .nav > li > a:hover,
.navbar .block.menu-resources .nav > li > a:focus,
.navbar .block.menu-resources .nav > li > a.active-trail {
  background: transparent;
  text-decoration: underline;
  color: $black;
  @media (max-width: 767px) {
    text-decoration: none;
    background: $gray-light2;
  }
}

/** SIDEBAR MENUS ****************************/
.sidebar .block.block-menu,
.sidebar .block.block-menu-block {
  background: $gray-dark;
  color: $white;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 1.5em;
  margin-top: 0px;
  border-top: 0;
  @include border-radius(3px);
  @include  box-shadow(3px 3px 10px rgba(0, 0, 0, 0.2));
}
.sidebar .block-menu h2,
.sidebar .block-menu-block h2 a {
  color: $white;
  padding: 0px 20px;
  font-weight: 400;
  letter-spacing: 0.02em;
  display: block;
}
.sidebar .block-menu h2 a:hover,
.sidebar .block-menu h2 a:focus,
.sidebar .block-menu-block h2 a:hover,
.sidebar .block-menu-block h2 a:focus {
  color: $turq-light;
  text-decoration: none;
}
.sidebar .nav li a {
  color: $white;
}
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:hover,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:focus,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a.active,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a.active-trail,
.sidebar .nav li a:hover,
.sidebar .nav li a:focus,
.sidebar .nav li a.active,
.sidebar .nav li a.active-trail  {
  background: $gray-med1;
  color: $white;
}
.sidebar .block-menu .content > .menu > li > a,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a,
.sidebar .block-menu .content > .menu > li.last > a,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li.last > a {
  border: 0;
  padding: 6px 20px;
  font-weight: normal;
}
.sidebar .block-menu-block .menu-block-wrapper > .menu > li.last,
.sidebar .block-menu .content > .menu > li.last {
  border: 0;
}

.sidebar .block-menu .content > .menu > li.active-trail,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li.active-trail,
.sidebar .block-menu .content > .menu > li > a.active,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a.active,
.sidebar .block-menu .content > .menu > li > a:hover,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:hover,
.sidebar .block-menu .content > .menu > li > a:focus,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:focus,
.sidebar .block-menu .content > .menu > li.expanded,
.sidebar .block-menu-block .content > .menu > li.expanded {
  background: $gray-med1;
}
.sidebar .block-menu .content > .menu > li li a,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li li a {
  padding: 5px 20px;
  font-size: .9em;
  font-weight: 300;
  line-height: 1.3em;
}
.sidebar .block-menu .content > .menu > li li a:hover,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li li a:hover,
.sidebar .block-menu .content > .menu > li li a:focus,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li li a:focus,
.sidebar .block-menu .content > .menu > li li a.active-trail,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li li a.active-trail {
  background: transparent;
}

/* Menu banner images for program/service subsections */
.sidebar .block.menu-banner {
  border-top: 0;
  margin: 0;
  padding-top: 0;
  position: relative;
  @include  box-shadow(3px 3px 10px rgba(0, 0, 0, 0.2));
  img {
    @include border-radius(3px 3px 0 0);
  }
  @media (max-width: 979px) {
    display: none;
  }
}
.sidebar .block.menu-banner:before {
  content: '';
  display: block;
  height: 45px;
  position: absolute;
  bottom: 0;
  width: 100%;
  @include background-image(linear-gradient(to bottom, rgba(61, 62, 66, 0), rgba(61, 62, 66, 1)));
}
.sidebar .block.block-bean.menu-banner .view-mode-default img {
  margin-bottom: 0;
  @include box-shadow(none);
}

/** HEADERS ****************************/
h1 {
  margin-bottom: 0.5em;
  letter-spacing: -0.02em;
}
h2, h3, h4 {
}
h2, .content h2, body.cke_show_borders h2, .well h2, #sidebar-second .well-sidebar-only h2 {
  margin-top: 1em;
}
h3, .content h3, body.cke_show_borders h3 {
  margin-top: 1em;
}
h4, .content h4, body.cke_show_borders h4 {
  margin-top: 1em;
}
.block h2:first-child,
.content h2:first-child, .content h3:first-child, .content h4:first-child {
  margin-top: 0;
}
.well h2 {
}
.normal-link h2, .normal-link h3, h2.normal-link, h3.normal-link {
}

/** TEXT ****************************/

blockquote {
  text-align: center;
  background: none;
  border-top: 1px solid $gray-light;
  border-bottom: 1px solid $gray-light;
  padding: 20px 60px;
  margin: 3em 0em;
}
blockquote a.btn.btn-arrow-right {
  font-size: 1.15em;
  line-height: 1.2em;
}
.caption, .credits, .descriptor {
}
.credits {
  margin: 0;
}
.caption {
}
.descriptor {
}
.summary {
}
.date-month {
}
.date-day {
}
.alert {
}
hr {
	border-color: $gray-light;
  border-top: 0;
}

/** NEW TO CAW ****************************/

.red-text {
  color: $red;
  font-weight: 600;
}
.facetapi-count {
  opacity: 0.8;
}

/** LISTS ****************************/
ul li {
  line-height: 1.4em;
  margin-bottom: 0.25em;
}
ul, ol {
  margin-bottom: 1.25em;
}

/** TABLES ****************************/

table {
  width: 100%;
}
th, td {
  padding: 0.5em;
  border: 1px solid $gray-light;
  background: $white;
}
thead th {
  color: $white;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.5em;
  border-top: 1px solid $red;
  border-left: 1px solid $red;
  border-right: 1px solid $gray-light;
  background: $red;
}
thead th:last-child {
  border-right-color: $red;
}

/** LINKS ****************************/

a {

}
a:hover,
a:focus {

}
.main-bottom a {
  font-weight: 500;
}
a.btn,
a.btn:hover,
a.btn:focus {
  padding: 0.5em 1em;
}
a.btn.btn-arrow-right {
  font-size: 1.25em;
  line-height: 1.2em;
  @include box-shadow($gray-med3 2px 2px 8px);
}
a.btn.btn-arrow-right,
a.btn.btn-arrow-right:hover,
a.btn.btn-arrow-right:focus {
  background-image: url('../img/caw-btn-arrow-right.png');
  background-repeat: no-repeat;
  background-position: 93% center;
  background-position: calc(100% - 10px) center;
  padding-right: 30px;
  text-align: left;
}
a.btn.btn-arrow-right:hover,
a.btn.btn-arrow-right:focus {
  @include box-shadow($gray-med3 4px 4px 8px);
}

/* resources node download button */
.field-name-field-s-resource-download a {
  font-size: 1.25em;
  line-height: 1.2em;
  @include box-shadow($gray-med3 2px 2px 8px);
  display: inline-block;
  font-weight: 400;
  background: $red;
  color: $white;
  padding: 0.5em 1em;
}
.field-name-field-s-resource-download a:hover,
.field-name-field-s-resource-download a:focus {
  background: #333333;
  text-decoration: none;
  @include box-shadow($gray-med3 4px 4px 8px);
}
.field-name-field-s-resource-download a,
.field-name-field-s-resource-download a:hover,
.field-name-field-s-resource-download a:focus {
  background-image: url('../img/caw-btn-arrow-right.png');
  background-repeat: no-repeat;
  background-position: 93% center;
  background-position: calc(100% - 10px) center;
  padding-right: 30px;
  text-align: left;
}

/** IMAGES ****************************/
.main .border-simple-nowidth img,
.main .border-simple img {
  background-color: transparent;
  margin-bottom: 0;
  padding: 0;
}
.main .border-shadow img {
  @include border-radius(3px);
  @include box-shadow(1px 1px 8px rgba(0, 0, 0, 0.3));
}

/** BLOCKS ****************************/

.block-bean {
  h2 {
    font-size: 1.5em;
  }
  .view-mode-default img {
    @include box-shadow(1px 1px 6px rgba(0, 0, 0, 0.25));
    margin-bottom: 15px;
  }
  a.more-link {
    margin-top: 0;
  }
}

.tile {
  background: $white;
  @include border-radius(4px);
  @include box-shadow(1px 1px 8px rgba(0, 0, 0, 0.3));
  .tile-link {
    background: transparent;
    margin-bottom: 0;
  }
  .tile-link:hover, .tile-link:focus {
    opacity: 1;
    cursor: default;
  }
  img {
    @include border-radius(4px 4px 0 0);
  }
  a:hover img, a:focus img {
    opacity: 0.8;
  }
  h2 {
    font-size: 1.5em;
  }
  h2 a {
    padding: 20px 20px;
    color: $red;
    background: $white;
  }
  /* gradient over image */
  h2:before {
    content: '';
    display: block;
    height: 45px;
    margin-top: -45px;
    position: relative;
    @include background-image(linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)));
  }
  h2 a:hover, h2 a:focus {
    color: $red;
    text-decoration: underline;
  }
  .field-name-field-s-postcard-body,
  .field-name-field-s-lp-item-description {
    padding: 0px 20px 10px 20px;
  }
  p {

  }
}
.node .tile img {
  @include box-shadow(none);
}
.page-node .content-body .tile .field,
.page-node .content-body .block .field {
  margin-bottom: 0;
}

// .tile:hover {
//   @include box-shadow(3px 3px 8px rgba(0, 0, 0, 0.25));
//   h2 a {
//     color: $black;
//   }
//   img {
//     opacity: .8;
//   }
// }

/* callout blocks */
.callout-block {
  text-align: center;
  border-right: 1px solid $gray-light;
  padding: 0 15px 0 0;
  .more-link a {
    margin-top: 0;
  }
}
.block-bean:last-child .callout-block,
.block-bean:nth-child(3) .callout-block,
.block-bean:nth-child(6) .callout-block,
.block-bean:nth-child(9) .callout-block {
  border-right: 0;
  padding-right: 0;
}
.sidebar .block-bean .callout-block {
  padding: 0;
  border: 0;
  text-align: left;
}
@media (max-width: 979px) {
  .callout-block {
    border: 0;
    padding: 0;
  }
  .block-bean:nth-child(1) .callout-block,
  .block-bean:nth-child(3) .callout-block,
  .block-bean:nth-child(5) .callout-block,
  .block-bean:nth-child(7) .callout-block,
  .block-bean:nth-child(9) .callout-block {
    border-right: 1px solid $gray-light;
    padding: 0 15px 0 0;
  }
}
@media (max-width: 480px) {
  .block-bean:nth-child(1) .callout-block,
  .block-bean:nth-child(3) .callout-block,
  .block-bean:nth-child(5) .callout-block,
  .block-bean:nth-child(7) .callout-block,
  .block-bean:nth-child(9) .callout-block {
    border-right: 0;
    padding: 1.5em 0 0 0;
  }
  .block-bean .callout-block {
    margin-top: 1em;
    padding: 1.5em 0 0 0;
    border-top: 1px solid $gray-light;
  }
}

/* Responsive grids for landing page and program page callout blocks */
.stanford-callout-block .field-name-field-landing-page-item > .field-items > .field-item {
  display: inline-block;
  float: left;
  margin-right: 3%;
  width: 31.333%;
  max-width: 370px;
  margin-bottom: 1.5em;
  border-right: 1px solid $gray-light;
  padding: 0 15px 0 0;
  @include box-sizing(border-box);
}
.stanford-callout-block .field-name-field-landing-page-item > .field-items > .field-item .callout-block,
.stanford-callout-block .field-name-field-landing-page-item > .field-items > .field-item:last-child {
  padding-right: 0;
  border-right: 0;
}
.stanford-callout-block .field-name-field-landing-page-item > .field-items > .field-item:nth-child(3),
.stanford-callout-block .field-name-field-landing-page-item > .field-items > .field-item:nth-child(6),
.stanford-callout-block .field-name-field-landing-page-item > .field-items > .field-item:nth-child(9)
.stanford-callout-block .field-name-field-landing-page-item > .field-items > .field-item:nth-child(12),
.stanford-callout-block .field-name-field-landing-page-item > .field-items > .field-item:nth-child(15) {
  margin-right: 0;
  padding-right: 0;
  border-right: 0;
}
@media(max-width: 767px) {
  .stanford-callout-block .field-name-field-landing-page-item > .field-items > .field-item {
    width: 48.5%;
  }
  .stanford-callout-block .field-name-field-landing-page-item > .field-items > .field-item:nth-child(3),
  .stanford-callout-block .field-name-field-landing-page-item > .field-items > .field-item:nth-child(6),
  .stanford-callout-block .field-name-field-landing-page-item > .field-items > .field-item:nth-child(9)
  .stanford-callout-block .field-name-field-landing-page-item > .field-items > .field-item:nth-child(12),
  .stanford-callout-block .field-name-field-landing-page-item > .field-items > .field-item:nth-child(15) {
    margin-right: 3%;
  }
  .stanford-callout-block .field-name-field-landing-page-item > .field-items > .field-item.odd {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
  }
  .stanford-callout-block .field-name-field-landing-page-item > .field-items > .field-item.even {
    border-right: 1px solid $gray-light;
    padding: 0 15px 0 0;
  }
}
@media (max-width: 480px) {
  .stanford-callout-block .field-name-field-landing-page-item > .field-items > .field-item,
  .stanford-callout-block .field-name-field-landing-page-item > .field-items > .field-item.even {
    width: 100%;
    margin-right: 0;
    display: block;
    float: none;
    max-width: 100%;
    padding-right: 0;
    border-right: 0;
    margin-top: 1em;
    padding: 1.5em 0 0 0;
    border-top: 1px solid $gray-light;
  }
}


/* sidebar block styles */
.sidebar .block {
  margin-top: 1em;
  padding: 1.5em 0 0 0;
  border-top: 1px solid $gray-light;
  h2 {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 1em;
  }
}
.sidebar .block.well {
  margin-top: 0;
  padding: 24px 28px;
  border: 0;
}

/* default well blocks */
.well {
  background: $gray-light;
  @include border-radius(3px);
  @include box-shadow(1px 1px 8px rgba(0, 0, 0, 0.2));
  color: $gray-dark;
  font-size: 0.9em;
  padding: 24px 28px;
  h2 {
    letter-spacing: 0.02em;
    margin-bottom: 15px;
  }
  p:last-child,
  ul:last-child {
    margin-bottom: 0;
  }
}

/* well-nav blocks */
.well.well-nav {
  background-color: $gray-dark;
  color: $off-white;
  h2 {
    color: $off-white;
  }
  a {
    color: $off-white;
  }
  a:hover, a:focus {
    color: $turq-light;
  }
}

/* footer blocks */
.main-lower .block {
  font-size: 0.9em;
  h2 {
    font-size: 1.3em;
    font-weight: 600;
  }
  h2, img {
    margin-left: -2px;
  }
  .content > .menu > li > a {
    font-weight: 400;
  }
  .content > .menu > li > a:hover,
  .content > .menu > li > a:focus {
    text-decoration: underline;
  }
  li a.active {
    color: $red;
  }
  li a.active:hover,
  li a.active:focus {
    color: $black;
  }
}

/** HOMEPAGE ******************************/
#block-stanford-gallery-tabs-stanford-gallery-tabs {
  margin-top: -80px;
}
body.front .main-top {
  margin-top: 90px;
  height: 655px;
  @media (max-width: 767px) {
    height: auto;
  }
}

/** CONNECT PAGE *************************/
/* #cardinalatwork connect block */
.callout-block .bean-stanford-social-media-connect div {
  display: inline-block;
}

/** SWEETENERS ****************************/

/* breakpoint overrides */
@media (max-width: 979px) and (min-width: 768px) {
  .row-fluid .block.span2 {
    width: 31.4917%;
  }
  .row-fluid .block.span10 {
    width: 65.7459%;
  }
}

.isotope-element {
  background: transparent;
  color: $black;
}

a.sweetener-link {
  background: $turq-med;
  @include border-radius(4px);
  @include box-shadow(1px 1px 8px rgba(0, 0, 0, 0.3));
  @include box-sizing(border-box);
  display: block;
  margin-right: 15px;
  min-height: 240px;
  text-decoration: none;

  h3 {
    color: $white;
    margin: 0.5em 1em 1em;
    font-weight: 300;
  }
  .sweetener-thumb img {
    @include border-radius(4px 4px 0 0);
  }
  .sweetener-thumb:after {
    content: '';
    display: block;
    height: 45px;
    margin-top: -45px;
    position: relative;
    @include background-image(linear-gradient(to bottom, rgba(63, 130, 137, 0), rgba(63, 130, 137, 1)));
  }
}

a.sweetener-link:hover,
a.sweetener-link:focus {
  background: $gray-dark;
  @include box-shadow(3px 3px 8px rgba(0, 0, 0, 0.25));
  text-decoration: none;

  h3 {
    color: $white;
  }
  .sweetener-thumb img {
    opacity: .8;
  }
  .sweetener-thumb:after {
    @include background-image(linear-gradient(to bottom, rgba(61, 62, 66, 0), rgba(61, 62, 66, 1)));
  }
}

/* sweeteners isotope filter - same as well styles */
.view-sweeteners-isotope-page > .view-header {
  background: $gray-light;
  @include border-radius(3px);
  @include box-shadow(1px 1px 8px rgba(0, 0, 0, 0.2));
  color: $gray-dark;
  font-size: 0.9em;
  padding: 24px 28px;
  margin-bottom: 3em;

  .view-sweeteners-isotope-filter:first-child {
    margin-bottom: 2em;
  }
}
.isotope-options {
  background: none;
}
.isotope-options label {
  display: inline-block;
  margin-right: 1%;
  min-width: 22%;
  background: $white;
  @include border-radius(4px);
  padding: 0.5em;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.isotope-options label:hover,
.isotope-options label:focus,
.isotope-options label.checked {
  background: $turq-dark;
  color: $white;
}

.isotope-options input {
  display: inline-block;
  float: left;
  margin: 2px 7px 0 0;
  cursor: pointer;
  display: none;
}
.isotope-options label .field-content::before {
  content: "▢";
  display: inline-block;
  font-size: 1em;
  font-weight: 700;
  padding: 0 10px 0 6px;
}
.isotope-options label.checked .field-content::before {
  content: "✓";
  font-size: 1.3em;
}

/* sweeteners carousel */
.slick-dots li button::before {
  content: none;
}
.slick-dots li button {
  @include border-radius(20px);
  width: 18px;
  height: 18px;
  background: $gray-med3;
  @include box-shadow(1px 1px 8px rgba(0, 0, 0, 0.2));
}
.slick-dots li button:hover,
.slick-dots li button:focus,
.slick-dots li.slick-active button {
  background: $turq-dark;
}
.slick-dots {
  bottom: -60px;
  margin-left: 0;
}
.slick-carousel .slick-prev, .slick-carousel .slick-next {
  background: transparent;
  z-index: 10;
}
.slick-prev::before, .slick-next::before {
  color: $gray-med3;
  content: "";
  display: block;
  height: 19px;
  width: 15px;
}
.slick-prev::before {
  background-image: url("../img/caw-arrow-left.png");
}
.slick-next::before {
  background-image: url("../img/caw-arrow-right.png");
}
.slick-prev, .slick-next {
  top: auto;
  bottom: -35px;
}
.slick-prev {
  left: 30%;
}
.slick-next {
  right: 30%;
}

/* sweeteners nodes */
.node-type-stanford-sweetener .field.field-name-field-s-sweet-image.field-type-image.field-label-hidden {
    margin-bottom: 30px;
}
.node-type-stanford-sweetener .field.field-name-field-s-sweet-desc.field-type-text-long.field-label-hidden {
    margin-bottom: 15px;
}
.node-type-stanford-sweetener .field.field-name-field-s-sweet-more-info.field-type-link-field.field-label-above,
.node-type-stanford-sweetener .field.field-name-field-s-sweet-audience.field-type-taxonomy-term-reference.field-label-above {
    margin-bottom: 10px;
}
/* sweeteners node styles */

.node-type-stanford-sweetener .field.field-name-field-s-sweet-image.field-type-image.field-label-hidden {
    margin-bottom: 30px;
}

.node-type-stanford-sweetener .field.field-name-field-s-sweet-desc.field-type-text-long.field-label-hidden {
    margin-bottom: 15px;
}

.node-type-stanford-sweetener .field.field-name-field-s-sweet-more-info.field-type-link-field.field-label-above,
.node-type-stanford-sweetener .field.field-name-field-s-sweet-audience.field-type-taxonomy-term-reference.field-label-above {
    margin-bottom: 10px;
}

/** CAROUSEL ****************************/

/* Subsite carousels */

.front .main-top,
.node-type-stanford-subsite .main-top,
.page-node-233 .main-top {
  background: $gray-dark;
  height: 370px;
  margin-bottom: 100px;
  margin-top: 40px;
  @media (max-width: 1199px) {
    margin-top: 0;
    margin-bottom: 50px;
  }
}
.front .main-top {
  height: auto; /* for now */
}

.front, .node-type-stanford-subsite, .page-node-233 {
  #content-body.row-fluid {
    margin-bottom: 0;
  }
}

.carousel {
  margin-bottom: 0;
}
.carousel .views-row {
  margin-bottom: 0;
}
.carousel-inner {
  position: inherit;
  margin-top: -40px;
}
.carousel img {
  @include box-shadow(1px 1px 6px rgba(0, 0, 0, 0.25));
  @include border-radius(3px);
}
.view.carousel .carousel-block .carousel-caption {
  background: transparent;
  width: 50%;
}
.view.carousel .carousel-block .carousel-caption.carousel-position-right,
.view.carousel .carousel-block .carousel-caption.carousel-position-left {
  left: auto;
  right: 0;
  padding: 90px 75px;
}
.view.carousel .carousel-caption.carousel-dark h2 a,
.view.carousel .carousel-caption.carousel-dark .slide-caption a {
  color: $white;
  font-weight: 300;
  display: block;
}
.view.carousel .carousel-caption.carousel-dark h2 a {
  font-size: 1.2em;
  line-height: 1.3em;
  margin-bottom: 0.75em;
}
.view.carousel .carousel-caption.carousel-dark .slide-caption a {
  font-size: 1.3em;
  line-height: 1.3em;
  margin-bottom: 1em;
}
.view.carousel .carousel-caption.carousel-dark a.more-link,
.view.carousel .carousel-caption.carousel-dark .more-link a {
  color: $turq-light;
  font-size: 1.5em;
  line-height: 1.3em;
  display: block;
}
.view.carousel .carousel-caption.carousel-dark a.more-link:hover,
.view.carousel .carousel-caption.carousel-dark .more-link a:hover,
.view.carousel .carousel-caption.carousel-dark a.more-link:focus,
.view.carousel .carousel-caption.carousel-dark .more-link a:focus {
  color: $white;
  text-decoration: underline;
}

.carousel .view-footer {
  bottom: 95px;
  position: absolute;
  right: 315px;
  width: 220px;
}
.view.carousel .carousel-indicators li {
  border-radius: 20px;
  height: 18px;
  width: 18px;
  background-color: $gray-med2;
  border: 0px;
  margin-left: 10px;
}
.view.carousel .carousel-indicators .active,
.view.carousel .carousel-indicators li:hover {
  background-color: $white;
  border: 0px;
}
.view.carousel .carousel-controls {
  position: relative;
  z-index: 1000;
  top: 9px;
}
.carousel-control {
  border: 0;
  background: transparent;
  opacity: 1;
}
.carousel-controls .carousel-control.right {
  background-image: url("../img/caw-arrow-right.png");
}
.carousel-controls .carousel-control.left {
  background-image: url("../img/caw-arrow-left.png");
}

.view.carousel .carousel-controls .carousel-control.right:hover,
.view.carousel .carousel-controls .carousel-control.right:focus {
  background-image: url("../img/caw-arrow-right-hvr.png");
}
.view.carousel .carousel-controls .carousel-control.left:hover,
.view.carousel .carousel-controls .carousel-control.left:focus {
  background-image: url("../img/caw-arrow-left-hvr.png");
}
.view.carousel .carousel-control,
.view.carousel .carousel-control:focus {
  opacity: 1;
}

.carousel .edit-link a {
  background: $white;
}
.carousel .edit-link a:hover,
.carousel .edit-link a:focus {
  background: $gray-dark;
}

@media (max-width: 1199px) {
  .carousel-inner {
    margin-top: 0px;
  }
  .carousel img {
    margin-top: 16px;
    max-width: 48%;
  }
  .view.carousel .carousel-block .carousel-caption.carousel-position-right,
  .view.carousel .carousel-block .carousel-caption.carousel-position-left {
    padding: 40px 35px;
  }
  .carousel .view-footer {
    bottom: 50px;
    right: 240px;
  }
}
@media (max-width: 979px) {
  .node-type-stanford-subsite .main-top {
    height: auto;
  }
  .view.carousel .carousel-block .carousel-caption {
    position: absolute;
    overflow: visible;
  }
  .carousel .view-footer {
    bottom: -10px;
    right: 220px;
  }
  .carousel img {
    max-width: 40%;
  }
  .view.carousel .carousel-block .carousel-caption {
    width: 60%;
  }
  .view.carousel .carousel-block .carousel-caption.carousel-position-right,
  .view.carousel .carousel-block .carousel-caption.carousel-position-left {
    position: relative;
    float: right;
    padding: 20px;
  }
}
@media (max-width: 767px) {
  .carousel .view-footer {
    bottom: -15px;
    left: auto;
    position: relative;
    right: auto;
    width: 100%;
  }
}
@media (max-width: 570px) {
  .carousel img {
    max-width: 100%;
  }
  .view.carousel .carousel-block .carousel-caption.carousel-position-right,
  .view.carousel .carousel-block .carousel-caption.carousel-position-left {
    width: 100%;
    padding: 20px 0 0;
  }
}


/** LANDING PAGES & PROGRAM/SERVICE PAGES ****************************/

/* Hide the page title on subsites and program/service */
.node-type-stanford-subsite h1#page-title,
.node-type-stanford-program-service h1#page-title {
  display: none;
}

/* summary styles on program/service subtitle */
.field-name-field-s-program-service-subtitle {
    font-size: 1.3em;
    margin-bottom: 15px;
    font-weight: 300;
    line-height: 1.4em;
}

/* make things line up at the top of a node with the sidebar */
.row-fluid.content-head {
  margin-bottom: 0;
}

.field-name-field-landing-page-item {
  /* blocks */
  .block {
    h2 {
      font-size: 1.5em;
    }
    img {
      @include box-shadow(1px 1px 6px rgba(0, 0, 0, 0.25));
      margin-bottom: 15px;
    }
    .more-link {
      margin-top: 0;
    }
  }

  /* cards */
  .large-landscape {
    .tile {

    }
  }
  /* callouts */
  .stanford-callout-block {
    .callout-block {

    }
  }
  /* list */
  .view-mode-stanford_medium_square {
    border-color: $gray-light;
  }
  .field-item:last-child .view-mode-stanford_medium_square {
    border-bottom: 1px solid $gray-light;
    margin-bottom: 3em;
  }
  .stanford-medium-square {
    h2 a {
      font-weight: 400;
    }
    .more-link {
      margin-top: 0;
    }
    img {
      @include box-shadow(1px 1px 6px rgba(0, 0, 0, 0.25));
    }
    .postcard-left > div:first-child img {
      margin-right: 25px;
      margin-bottom: 0;
    }
    @media (max-width: 380px) {
      .postcard-left > div:first-child {
        float: none;
      }
      .postcard-left > div {
        display: block;
        width: 100%;
      }
    }
  }
  /* numbered guide */
  .numbered-guide {
    border-top: 1px solid $gray-light;
    margin-top: 1em;
    padding-top: 2em;
    padding-left: 5em;
  }
}

article.numbered-guide .field-name-field-landing-page-item .field-items,
.node-stanford-program-service.numbered-guide .field-name-field-landing-page-item .field-items,
.node-stanford-landing-page.numbered-guide  .field-name-field-landing-page-item .field-items {
  counter-reset: section;
  .numbered-guide:before {
      counter-increment: section;
      content: counter(section);
      background: $red;
      color: $white;
      @include border-radius(2em);
      @include box-shadow(1px 1px 6px rgba(0, 0, 0, 0.25));
      display: block;
      font-size: 1.75em;
      font-weight: 300;
      height: 1.5em;
      line-height: 1.5em;
      padding: 5px;
      text-align: center;
      width: 1.5em;
      float: left;
      margin-left: -3em;
      margin-right: 25px;
  }
}

/* Banners on landing page and program/service CTs */
#block-views-stanford-program-service-block.block {
  margin-bottom: 0;
 .views-row {
    margin-bottom: 0;
  }
}
.program-banner {
  position: relative;
  background: $white;
  @include border-radius(3px);
  @include box-shadow(1px 1px 6px rgba(0, 0, 0, 0.25));
}
/* for when it's on a program/service page */
.node-type-stanford-program-service .program-banner {
  padding: 1em 2em 2em;
  margin-bottom: 0;
}
.program-banner-img {
  position: relative;
  img {
    @include border-radius(3px 0 0 3px);
  }
}
.program-banner-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  max-height: 370px;
  position: absolute;
  right: 0;
  top: 0;
  background: $white;
  h1 {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
  }
  p {
    margin-bottom: 40px;
    margin-left: 50px;
    margin-right: 50px;
  }
}
/* gradient over image */
.program-banner-text:before {
  content: "";
  display: inline-block;
  float: left;
  height: 100%;
  margin-left: -55px;
  max-height: 370px;
  position: relative;
  width: 55px;
  @include background-image(linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)));
}
@media (max-width: 979px) {
  .program-banner-img img {
    width: 100%;
    @include border-radius(3px 3px 0 0);
  }
  .program-banner-text {
    position: relative;
    left: auto;
    max-height: none;
    display: inline-block;
  }
  .program-banner-text:before {
    display: block;
    float: none;
    height: 55px;
    width: 100%;
    margin-top: -55px;
    margin-left: 0;
    @include background-image(linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)));
  }
}
@media (max-width: 380px) {
  .program-banner-text {
    h1 {
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 20px;
    }
    p {
      margin-bottom: 20px;
      margin-left: 30px;
      margin-right: 30px;
    }
  }
}

/** FAQ **********************/
.view-stanford-show-hide-faq-hierarchy .views-row {
  margin-bottom: 0.5em;
  @include box-shadow($gray-light 1px 1px 4px);
  @include border-radius(4px);
}
.view-stanford-show-hide-faq-hierarchy .views-row > div:first-child a.collapsed {
  @include border-radius(4px);
}
.view-stanford-show-hide-faq-hierarchy .views-row > div:first-child a {
  @include border-radius(4px 4px 0 0);
}
.view-stanford-show-hide-faq-hierarchy .views-row div.views-field-body {
  @include border-radius(0 0 4px 4px);
}

/** EVENTS *********************/

/* events blocks */
.block-views .view-cardinal-at-work-stanford-events-list .views-row {
  background: $white;
  @include box-shadow($gray-light 1px 1px 4px);
  @include border-radius(4px);

  .postcard-left > div {
    padding: 10px;
    vertical-align: middle;
  }
  .postcard-left > div:first-child {
    float: none;
  }

  .date-stacked {
    background: $gray-light;
    @include border-radius(4px 0 0 4px);
  }
  .date-month {
    color: $gray-dark;
    padding-top: 5px;
  }
  .date-day {
    color: $gray-dark;
    padding-bottom: 5px
  }
  h3 a {
    font-weight: 300;
    color: $black;
  }
}

/* event node styles */

.node-type-stanford-event .field.field-name-field-stanford-event-datetime.field-type-datetime.field-label-hidden {
    margin-bottom: 0.25em;
}
.node-type-stanford-event .field.field-name-field-stanford-event-location.field-type-text-long.field-label-hidden {
    margin-bottom: 0.25em;
}
.node-type-stanford-event .field.field-name-field-s-event-fee.field-type-text.field-label-hidden {
    margin-bottom: 1em;
}
.group-course-styles {
    margin-top: 1em;
}
.group-event-details .field.field-name-field-stanford-event-sponsor.field-type-text.field-label-above,
.group-event-details .field.field-name-field-stanford-event-email.field-type-text.field-label-above,
.group-event-details .field.field-name-field-stanford-event-phone.field-type-text.field-label-above,
.group-event-details .field.field-name-field-stanford-event-url.field-type-link-field.field-label-above,
.group-event-details .field.field-name-field-s-event-type.field-type-taxonomy-term-reference.field-label-above,
.group-event-details .field.field-name-field-event-categories.field-type-taxonomy-term-reference.field-label-above {
    margin-bottom: 1em;
}


/** NEWS *********************************/

/* news node styles */
.node-type-stanford-news-item {
  .field.field-name-field-s-news-categories.field-type-taxonomy-term-reference.field-label-above {
    font-size: 16px;
    text-transform: none;
    line-height: 1.4em;
    margin-top: 0;
  }
  .field.field-name-field-s-news-categories.field-type-taxonomy-term-reference.field-label-above .field-label {
    font-size: 1.3em;
    letter-spacing: normal;
    line-height: 1.3em;
    margin-bottom: 0.5em;
  }
  .field.field-name-field-s-news-categories.field-type-taxonomy-term-reference.field-label-above .field-items {
    font-weight: 300;
  }
  .content-body .field.field-name-field-s-image-info {
    margin-bottom: 30px;
  }
  .caption p {
    margin-bottom: 0;
  }
}

/** CAREER CELEBRATIONS ***********************/

/* career celebrations node styles */
.node-type-stanford-career-celebrations h1 {
    margin-bottom: 0.1em;
    margin-top: 0;
}
.page-node.node-type-stanford-career-celebrations .content-body .field.field-name-field-s-celebration-job-title {
    margin-bottom: 0.1em;
}


/** STANFORD PAGES ****************************/
.node-type-stanford-page {
  .postcard-image img {
    margin-bottom: 30px;
  }
}
.node img {
  @include box-shadow(1px 1px 6px rgba(0, 0, 0, 0.25));
  @include border-radius(4px);
}

/** IE STYLES ****************************/


