$red:			#8c1515;
$black:			#000000;
$white: 		#ffffff;
$off-white:		#efeae6; /* light text on dark */
$beige:			#fbfbf9; /* page bkg */

$gray-light:	#e2e2e2; /* events, wells */
$gray-light2:	#c2c3c4; /* main nav hover */
$gray-med1:		#5a5c61; /* hover menu */
$gray-med2:		#888a91; /* dots on dark */
$gray-med3:		#909499; /* dots on light */
$gray-med4:		#4c4e52; /* dates, descriptor */
$gray-dark:		#3d3e42; /* carousel, menu */

$turq-light:	#5fbfc4; /* link on dark */
$turq-med:		#3f8289; /* sweetener cards */
$turq-dark:		#004f5b; /* button */