/** GENERAL ****************************/
html {
}

body {
  background: $beige;
}

#global-header a, #global-footer a {
  font-size: 14px !important;
}

/** REGIONS ****************************/
.header {
  padding: 35px 0 40px;
}

/** LOGO ****************************/

#header #logo img {
  max-width: 220px;
}
.header .site-logo img {
  max-height: 86px;
}