/** GENERAL ****************************/
html {
}

body, .header, .site-main-menu, .main {
  background: $beige;
}

#global-header a, #global-footer a {
  font-size: 14px !important;
}

/** REGIONS ****************************/
.header {
  padding: 35px 0 40px;
}

/** LOGO ****************************/

#header #logo img {
  max-width: 220px;
}
.header .site-logo img {
  max-height: 86px;
}

/** SEARCH ****************************/

/** NAVBAR MENU ****************************/

.navbar {
  margin-bottom: 0;
}

.navbar .nav > li > a {
  color: $black;
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.3em;
  background:transparent;
  padding: 4px 12px;
  border-radius: 4px;
  margin-right: 12px;
}

.dropdown-menu {
	background: $gray-dark;
	color: $white;
	min-width: 190px;
	padding-bottom: 0.5em;
  margin-top: -4px;
  @include border-radius(0px 3px 3px 3px);
  @include  box-shadow(3px 3px 10px rgba(0, 0, 0, 0.3));
}
.dropdown-menu > li > a {
	color: $white;
	font-size: 0.95em;
    letter-spacing: 0.02em;
	padding: 6px 20px;
}
.nolink {
	font-size: .7em;
	padding: 10px 20px 3px;
	display: block;
	letter-spacing: 0.04em;
}
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus, 
.dropdown-submenu:hover > a, 
.dropdown-submenu:focus > a, 
.dropdown-menu > .active > a, 
.dropdown-menu > .active > a:hover, 
.dropdown-menu > .active > a:focus,
.navbar .nav li.dropdown.open > .dropdown-toggle, 
.navbar .nav li.dropdown.open > .dropdown-toggle:hover, 
.navbar .nav li.dropdown.open > .dropdown-toggle:focus, 
.navbar .nav li.dropdown.active > .dropdown-toggle, 
.navbar .nav li.dropdown.active > .dropdown-toggle:hover, 
.navbar .nav li.dropdown.active > .dropdown-toggle:focus, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle
.navbar .nav li.dropdown.open.active > .dropdown-toggle:hover, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle:focus {
	color: $white;
	background: $gray-med1;
}
.navbar .nav li.dropdown.open > .dropdown-toggle, 
.navbar .nav li.dropdown.open > .dropdown-toggle:hover,
.navbar .nav li.dropdown.open > .dropdown-toggle:focus,
.navbar .nav li.dropdown.active > .dropdown-toggle, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
	@include box-shadow($gray-med3 2px 2px 8px);
  background: $gray-dark;
}
.dropdown .caret {
	display: none;
}
.dropdown hr {
	margin: 6px 0;
	border-color: $gray-med1;
	border-top: 0px;
}

.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus, 
.navbar .nav > li > a:focus, 
.navbar .nav > li > a:hover,
.navbar .nav li.active-trail > a, 
.navbar .nav li.active-trail > a:hover, 
.navbar .nav li.active-trail > a:focus  {
  color: $black;
  background: $gray-light2;
}
@media (max-width: 767px) {
  .navbar .nav > li > a {
    margin-right: 0;
  }
}

.main-nav {
	a.btn {
		background: $turq-dark;
		@include box-shadow($gray-med3 2px 2px 8px);
	}
}

/** SIDEBAR MENUS ****************************/
.sidebar .block-menu-block {
  background: $gray-dark;
  color: $white;
}
.sidebar .block-menu-block a {
  color: $white;
}
.sidebar .block-menu-block h2 a:hover, .sidebar .block-menu-block h2 a:focus {

}

/** HEADERS ****************************/
h1 { 
  margin-bottom: 0.5em;
  letter-spacing: -0.02em;
}
h2, h3, h4 {
}
h2, .content h2, body.cke_show_borders h2, .well h2, #sidebar-second .well-sidebar-only h2 {
  margin-top: 1em;
}
h3, .content h3, body.cke_show_borders h3 { 
  margin-top: 1em;
}
h4, .content h4, body.cke_show_borders h4 { 
  margin-top: 1em;
}
.block h2:first-child,
.content h2:first-child, .content h3:first-child, .content h4:first-child {
  margin-top: 0;
}
.well h2 {
}
.normal-link h2, .normal-link h3, h2.normal-link, h3.normal-link {
}

/** TEXT ****************************/

blockquote {
}
.caption, .credits, .descriptor {
}
.caption {
}
.descriptor {
}
.summary {
}
.date-month {
}
.date-day {
}
.alert {
}
hr {
	border-color: $gray-light;
}

/** NEW TO CAW ****************************/

.red-text {
  color: #8c1515;
  font-weight: 600;
}

/** LISTS ****************************/
ul li {
  line-height: 1.4em;
  margin-bottom: 0.25em;
}
ul, ol {
  margin-bottom: 1.25em;
}

/** TABLES ****************************/

th, td {
  padding: 1em;
  border: 1px solid #e6e8ec;
}
th {
  background: #e6e8ec;
}

/** LINKS ****************************/

a {

}
a:hover, a:focus {

}
.main-bottom a {
  font-weight: 500;
}

/** BLOCKS ****************************/

/** IMAGES ****************************/

/** CAROUSEL ****************************/

/** HOMEPAGE ****************************/

/** IE STYLES ****************************/