$red:			#8c1515;
$black:			#000000;
$white: 		#ffffff;
$off-white:		#efeae6; /* light text on dark */
$beige:			#fbfbf9; /* page bkg */

$gray-light:	#E9EDEE; /* events, wells, big color stripe */
$gray-light1:	#D7DDDE; /* callout separator */
$gray-med1:		#5a5c61; /* hover menu */
$gray-med2:		#888a91; /* dots on dark */
$gray-med3:		#909499; /* dots on light */
$gray-med4:		#4c4e52; /* dates, descriptor */
$gray-dark:		#3d3e42; /* carousel, menu */

$turq-med:		#28737A; /* sweetener cards, links in wells */
$turq-dark:		#004f5b; /* button */