/* light text on dark */
/* page bkg */
/* events, wells */
/* main nav hover */
/* hover menu */
/* dots on dark */
/* dots on light */
/* dates, descriptor */
/* carousel, menu */
/* link on dark */
/* sweetener cards */
/* button */
/** GENERAL ****************************/
/* line 5, _caw_styles.scss */
body, .header, .site-main-menu, .main {
  background: #fbfbf9;
}

/* line 9, _caw_styles.scss */
#global-header a, #global-footer a {
  font-size: 14px !important;
}

/** REGIONS ****************************/
/* line 14, _caw_styles.scss */
.header {
  padding: 35px 0 40px;
}

/** LOGO ****************************/
/* line 20, _caw_styles.scss */
#header #logo img {
  max-width: 220px;
}

/* line 23, _caw_styles.scss */
.header .site-logo img {
  max-height: 86px;
}

/** SEARCH ****************************/
/** NAVBAR MENU ****************************/
/* line 31, _caw_styles.scss */
.navbar {
  margin-bottom: 0;
}

/* line 35, _caw_styles.scss */
.navbar .nav > li > a {
  color: black;
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.3em;
  background: transparent;
  padding: 4px 12px;
  border-radius: 4px;
  margin-right: 12px;
}

/* line 46, _caw_styles.scss */
.dropdown-menu {
  background: #3d3e42;
  color: white;
  min-width: 190px;
  padding-bottom: 0.5em;
  margin-top: -4px;
  -webkit-border-radius: 0px 3px 3px 3px;
  -moz-border-radius: 0px 3px 3px 3px;
  -ms-border-radius: 0px 3px 3px 3px;
  -o-border-radius: 0px 3px 3px 3px;
  border-radius: 0px 3px 3px 3px;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

/* line 55, _caw_styles.scss */
.dropdown-menu > li > a {
  color: white;
  font-size: 0.95em;
  letter-spacing: 0.02em;
  padding: 6px 20px;
}

/* line 61, _caw_styles.scss */
.nolink {
  font-size: .65em;
  padding: 10px 20px 3px;
  display: block;
  letter-spacing: 0.05em;
}

/* line 82, _caw_styles.scss */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.open > .dropdown-toggle:hover,
.navbar .nav li.dropdown.open > .dropdown-toggle:focus,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle:hover,
.navbar .nav li.dropdown.active > .dropdown-toggle:focus,
.navbar .nav li.dropdown.open.active > .dropdown-toggle
.navbar .nav li.dropdown.open.active > .dropdown-toggle:hover,
.navbar .nav li.dropdown.open.active > .dropdown-toggle:focus {
  color: white;
  background: #5a5c61;
}

/* line 94, _caw_styles.scss */
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle:hover,
.navbar .nav li.dropdown.active > .dropdown-toggle:focus,
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.open > .dropdown-toggle.active,
.navbar .nav li.dropdown.open > .dropdown-toggle.active:focus,
.navbar .nav li.dropdown.open > .dropdown-toggle:hover,
.navbar .nav li.dropdown.open > .dropdown-toggle:focus,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  -webkit-box-shadow: #909499 2px 2px 8px;
  -moz-box-shadow: #909499 2px 2px 8px;
  box-shadow: #909499 2px 2px 8px;
  background: #3d3e42;
}

/* line 98, _caw_styles.scss */
.dropdown .caret {
  display: none;
}

/* line 102, _caw_styles.scss */
.dropdown hr,
.sidebar .block-menu-block hr {
  margin: 6px 0;
  border-color: #5a5c61;
  border-top: 0px;
}

/* line 115, _caw_styles.scss */
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover,
.navbar .nav li.active-trail > a,
.navbar .nav li.active-trail > a:hover,
.navbar .nav li.active-trail > a:focus {
  color: black;
  background: #c2c3c4;
}

/* line 120, _caw_styles.scss */
.navbar .nav li.dropdown li.active-trail > a,
.navbar .nav li.dropdown li.active-trail > a:hover {
  color: white;
  background: #5a5c61;
}

/* line 125, _caw_styles.scss */
#block-bean-my-benefits-button {
  float: right;
  max-width: 20%;
}

/* line 129, _caw_styles.scss */
#block-menu-block-7 {
  max-width: 80%;
}

/* line 134, _caw_styles.scss */
#main-nav a.btn {
  background: #004f5b;
  -webkit-box-shadow: #909499 2px 2px 8px;
  -moz-box-shadow: #909499 2px 2px 8px;
  box-shadow: #909499 2px 2px 8px;
}
/* line 138, _caw_styles.scss */
#main-nav a.btn:hover, #main-nav a.btn:focus {
  background: black;
  -webkit-box-shadow: #909499 4px 4px 8px;
  -moz-box-shadow: #909499 4px 4px 8px;
  box-shadow: #909499 4px 4px 8px;
}
/* line 142, _caw_styles.scss */
#main-nav a.btn, #main-nav a.btn:hover, #main-nav a.btn:focus {
  background-image: url("../img/caw-btn-arrow-right.png");
  background-repeat: no-repeat;
  background-position: 93% center;
  background-position: calc(100% - 10px) center;
  padding: 0.5em 1em;
  padding-right: 30px;
  text-align: left;
}

@media (max-width: 767px) {
  /* line 154, _caw_styles.scss */
  .navbar .nav > li > a {
    margin-right: 0;
  }

  /* line 157, _caw_styles.scss */
  #block-bean-my-benefits-button {
    float: none;
    max-width: none;
  }

  /* line 161, _caw_styles.scss */
  #block-menu-block-7 {
    max-width: none;
  }

  /* line 164, _caw_styles.scss */
  .nav-collapse .dropdown-menu {
    margin: 0;
  }

  /* line 175, _caw_styles.scss */
  .navbar .nav li.dropdown.active > .dropdown-toggle,
  .navbar .nav li.dropdown.active > .dropdown-toggle:hover,
  .navbar .nav li.dropdown.active > .dropdown-toggle:focus,
  .navbar .nav li.dropdown.open > .dropdown-toggle,
  .navbar .nav li.dropdown.open > .dropdown-toggle.active,
  .navbar .nav li.dropdown.open > .dropdown-toggle.active:focus,
  .navbar .nav li.dropdown.open > .dropdown-toggle:hover,
  .navbar .nav li.dropdown.open > .dropdown-toggle:focus,
  .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  /* line 178, _caw_styles.scss */
  .navbar .nav li.dropdown.open {
    background: #3d3e42;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
  }

  /* line 182, _caw_styles.scss */
  .nav-collapse .dropdown-menu a {
    padding: 6px 20px;
  }

  /* line 186, _caw_styles.scss */
  .nav-collapse .dropdown-menu a:hover,
  .nav-collapse .dropdown-menu a:focus {
    background: #5a5c61;
    color: white;
  }

  /* line 190, _caw_styles.scss */
  .nav-collapse .dropdown-menu li + li a {
    margin-bottom: 0px;
  }
}
/** SIDEBAR MENUS ****************************/
/* line 196, _caw_styles.scss */
.sidebar .block-menu-block {
  background: #3d3e42;
  color: white;
  padding-left: 0;
  padding-right: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

/* line 204, _caw_styles.scss */
.sidebar .block-menu-block h2 a {
  padding: 0px 20px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

/* line 210, _caw_styles.scss */
.sidebar .block-menu-block h2 a:hover,
.sidebar .block-menu-block h2 a:focus {
  color: #5fbfc4;
}

/* line 213, _caw_styles.scss */
.sidebar .block-menu-block a {
  color: white;
}

/* line 217, _caw_styles.scss */
.sidebar .block-menu-block h2 a:hover,
.sidebar .block-menu-block h2 a:focus {
  text-decoration: none;
}

/* line 221, _caw_styles.scss */
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li.last > a {
  border: 0;
  padding: 6px 20px;
}

/* line 227, _caw_styles.scss */
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:hover,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:focus,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a.active {
  background: #5a5c61;
  color: white;
}

/** HEADERS ****************************/
/* line 233, _caw_styles.scss */
h1 {
  margin-bottom: 0.5em;
  letter-spacing: -0.02em;
}

/* line 239, _caw_styles.scss */
h2, .content h2, body.cke_show_borders h2, .well h2, #sidebar-second .well-sidebar-only h2 {
  margin-top: 1em;
}

/* line 242, _caw_styles.scss */
h3, .content h3, body.cke_show_borders h3 {
  margin-top: 1em;
}

/* line 245, _caw_styles.scss */
h4, .content h4, body.cke_show_borders h4 {
  margin-top: 1em;
}

/* line 249, _caw_styles.scss */
.block h2:first-child,
.content h2:first-child, .content h3:first-child, .content h4:first-child {
  margin-top: 0;
}

/** TEXT ****************************/
/* line 275, _caw_styles.scss */
hr {
  border-color: #e2e2e2;
}

/** NEW TO CAW ****************************/
/* line 281, _caw_styles.scss */
.red-text {
  color: #8c1515;
  font-weight: 600;
}

/* line 285, _caw_styles.scss */
.facetapi-count {
  opacity: 0.8;
}

/** LISTS ****************************/
/* line 290, _caw_styles.scss */
ul li {
  line-height: 1.4em;
  margin-bottom: 0.25em;
}

/* line 294, _caw_styles.scss */
ul, ol {
  margin-bottom: 1.25em;
}

/** TABLES ****************************/
/* line 300, _caw_styles.scss */
th, td {
  padding: 1em;
  border: 1px solid #e6e8ec;
}

/* line 304, _caw_styles.scss */
th {
  background: #e6e8ec;
}

/** LINKS ****************************/
/* line 316, _caw_styles.scss */
.main-bottom a {
  font-weight: 500;
}

/** BLOCKS ****************************/
/** IMAGES ****************************/
/** CAROUSEL ****************************/
/** HOMEPAGE ****************************/
/** IE STYLES ****************************/
