/* light text on dark */
/* page bkg */
/* events, wells */
/* hover menu */
/* dots on dark */
/* dots on light */
/* dates, descriptor */
/* carousel, menu */
/* link on dark */
/* sweetener cards */
/* button */
/** GENERAL ****************************/
/* line 5, _caw_styles.scss */
body {
  background: #fbfbf9;
}

/* line 9, _caw_styles.scss */
#global-header a, #global-footer a {
  font-size: 14px !important;
}

/** REGIONS ****************************/
/* line 14, _caw_styles.scss */
.header {
  padding: 35px 0 40px;
}

/** LOGO ****************************/
/* line 20, _caw_styles.scss */
#header #logo img {
  max-width: 220px;
}

/* line 23, _caw_styles.scss */
.header .site-logo img {
  max-height: 86px;
}
